<!DOCTYPE html>
<html>
<body>

<h1>E election</h1>

<form action="voting/" method="get" id="nameform">
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname">
  <button type="submit" form="nameform" value="Submit">login</button>
</form>

<form action="voting/" method="get" id="nameform">
  <!-- <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname"> -->
  <button type="submit" form="nameform" value="Submit">login</button>
</form>








</body>
</html>
